@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes bg {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -500px 500px;
  }
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  background-image: url("assets/pattern.png");
  animation-name: bg;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

::selection {
  background-color: #0b927d;
  color: #fff;
}

::-moz-selection {
  background-color: #0b927d;
  color: #fff;
}